

<!-- Flipping Card Back  -->

<div class="index-css">
  <div class="container">
    <div class="row">
      <% @chefs.each do |chef| %>
      <div class="col-xs-12 col-sm-4">
        <div class="flip3D">
          <div class="new-chef-card back-chef-card">
            <div class="top-section-back title-font"><h5>Preview of <%= chef.name%>'s menus</h5></div>
            <% chef.menus.each do |item| %>
            <div class="menu-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.photos.sample.path, height: 300, width: 400, crop: :fill%>')">
              <div> <%= item.name %></div>
              <%= link_to "", chef_path(id: chef.id, food_choice: params[:food_choice]), class: "index-card-link" %>
            </div>
            <% end %>
            <div class="bottom-section-back text-center">
              <ul class="list-inline">
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- back end -->


          <!-- Flipping Card Front  -->
          <div class="new-chef-card front-chef-card">
            <div class="top-section-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path chef.menus.sample.photos.sample.path, height: 300, width: 400, crop: :fill %>')"></div>
            <div class="chef-avatar">
              <%= cl_image_tag chef.avatar.path, width: 100, height: 100, crop: :thumb, gravity: :face %>
            </div>
            <div class="bottom-section-front">
              <h5><%=  chef.name %></h5>
              <p><%=  chef.description[0..150] + "..." %></p>
            </div>
          </div>
        </div><!-- front end -->
      </div>
      <% end %>
    </div><!-- back end -->
  </div>
</div>
</div>




