<div class="container index_container">
  <div class="row">
    <% @chefs.each do |chef| %>
      <div class="col-xs-12 col-sm-4 index-card-padding">
        <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path chef.menus.sample.photos.sample.path, height: 300, width: 400, crop: :fill %>')">
          <div class="index-card-description">
            <h2><%=  chef.name %></h2>
            <p><%=  chef.description[0..50] + "..." %></p>
          </div><%= cl_image_tag chef.avatar.path, width: 100, crop: :thumb, gravity: :face, class: "index-card-user avatar" %>
          <%= link_to "", chef_path(id: chef.id, food_choice: params[:food_choice]), class: "index-card-link" %>
          </div>
      </div>
    <% end %>
  </div>
</div>

