

<!-- Order Confirmation Header -->
<div class="confirmation-title">
  <h2><%= cl_image_tag("Greenconfirmation.png", :width=>80, :height=>80, :crop=>"fill") %>Your booking is confirmed!</h2>
  <h4> Below are your booking details </h4>
</div>


<!-- Chef Image -->
<div class="container container-size">
  <div class="row">
    <div class= "order-confirmation">
      <div class="col-xs-12 col-md-6">
        <div class="confirmation-chef show-bubble ">
          <div>
            <%= cl_image_tag @order.chef.avatar.path, width: 300,  crop: :thumb, gravity: :face, class: "avatar-chef" %>
          </div>
          <div class="show-rectangle">
            <h2><%= @order.chef.name %></h2>
          </div>
          <div class="show-triangle-l">
          </div>
        </div>
      </div>

      <!-- Order Details -->
      <div class="col-xs-12 col-md-6">
        <div class="confirmation-details">
          <h4> Booking Details </h4>
          <ul>
           <li class="border-confirmation">
            Number of guests:  <%= @order.guests %>
          </li>
          <li class="border-confirmation">
            Address:  <%= @order.address %>
          </li>
          <li class="border-confirmation">
            Date for the event:  <%= @order.date %>
          </li>
          <li class="border-confirmation">
            Type of event:  <%= @order.event_type %>
          </li>
          <li class="border-confirmation">
            Price: <%= @order.total_price %> DKK
          </li>
        </ul>
      </div>
    </div> <!-- Order Details Div Close  -->
  </div>
</div>
</div> <!-- Chef Image Div Close  -->

<!-- 3 Images for Selected Menu -->
<div class="menu-order-overview text-center">
  <h4>Your selected menu</h4>
  <ul class="list-inline">
    <% @order.menu.photos.each_with_index do |photo, index| %>
    <li>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url('<%= cl_image_path photo.path, height: 300, width: 400, crop: :fill %>')">
        <div class="confirmation-card-description">
          <% if index == 0 %>
          <h4 class="menu-course">Appetizer</h4>
          <% elsif index == 1 %>
          <h4 class="menu-course">Main Dish</h4>
          <% elsif index == 2 %>
          <h4 class="menu-course">Dessert</h4>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>











