<div class= "order-card">
    <h3>Chefs I booked</h3>

    <ul>
      <% @orders.each do |order| %>
      <li>
        <%= order.guests %> |
        <%= order.address %> |
        <%= order.start_date %> |
        <%= order.end_date %> |
        <%= order.event_type %>
      </li>
      <% end %>
    </ul>
  </div>

<p>Find me in app/views/orders/add.html.erb</p>
