

<!-- Call To Action Instructions | Header -->

<div class="home-container">
  <h1> St<%= cl_image_tag("radish", width: 65, height: 65) %>p W<%= cl_image_tag("avocado", width: 65, height: 65) %>ndering </h1>
  <h2> around for <span class="greenText">VEGAN</span> food; </h2>
  <h3> find a chef in your area: </h3>
</div>

<!-- Call To Action | Select Date & Select Type of Cuisine -->

<div class="home-search-wrapper">
  <form action="/chefs" method="get" class="form-inline">
    <%= select_tag 'food_choice', options_for_select(@meal_types.insert(0,"Meal Type")), {class: "form-control"}  %>
    <input class="search datepicker form-control" type="text" placeholder="When?" id= "select_date" name="end_date">
    <br>
    <br>
    <input type="submit" class="tbn-submit-btn btn btn-primary" value="GET Chef">
  </form>
</div>

<!-- How it works Cards -->

<h1 class="hiw-font text-center">How it works </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="hiw-icons text-center"><%= cl_image_tag("search-icons", width: 80, height: 80) %>
          </div>
        <div class="design-card text-center"><p>Select your preferred type of vegan food and the date you would like to have a chef over</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="hiw-icons text-center"><%= cl_image_tag("menuicon", width: 80, height: 80) %>
        </div>
        <div class="design-card text-center"><p>Choose among a selection of menus you would like one of our chefs to prepare for you.</p></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="hiw-icons text-center"><%= cl_image_tag("cheficon", width: 80, height: 80) %>
        </div>
        <div class="design-card text-center"><p>Confirm the number of guests and type of event so the selected chefs has all the information to provide you with the best possible experience.</p></div>
      </div>
    </div>
  </div>

  <!-- Chef Cards -->
  <div class="home-wrapper-card">
    <div class="container">
      <div class="row">
        <% @chefs.each do |chef| %>
        <div class="col-xs-12 col-sm-4">
          <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path chef.menus.sample.photos.sample.path, width: 200 %>');">
            <div class="home-card-description">
              <h2> <%= chef.name  %> </h2>
              <p>  <%= chef.short_description %> </p>
            </div>
            <%= cl_image_tag chef.avatar.path, width: 100, crop: :thumb, gravity: :face, class: "index-card-user avatar" %><a class="index-card-link" href="<%= chef_path(chef) %>" ></a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>






