<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'http://res.cloudinary.com/dcy45rdne/image/upload/v1496319231/carrot_logo.png' %>
    <title>Green House - Book a vegan chef!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls" rel="stylesheet">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
    <%= cloudinary_js_config %>
  </body>
</html>
